# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
coverage/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework

# macOS
macos/Flutter/Flutter.framework

# Windows
windows/flutter/

# Linux
linux/flutter/

# IDE
.idea/
.vscode/

# Logs & misc
*.log
*.lock
*.pyc
*.swp
.DS_Store
.metadata